/*body {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #f15b31;
  color: gray;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 20px;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

/*header {
  color: #ffffff;
  background-color: #f15b31;
  padding: 30px 20px;
}*/

nav {
  color: #ffffff;
  background-color: #00a6b3;
  padding: 20px;
}*/
