img {
  margin: 40px 8px 20px 8px;
}
img:hover {
  -webkit-animation: swing .2s ease;
  animation: swing .2s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.back {
  position: absolute;
  transform: perspective(1000px) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}

.front {
  position: absolute;
  transform: perspective(1000px) rotateY( 0deg );
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    30%
    {
        -webkit-transform: translateX(-1px);
       transform: translateX(-1px);
    }
    50%
    {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    65%
    {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    80%
    {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    30%
    {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
        /*transform: rotateX(10deg);*/
    }
    50%
    {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    65%
    {
        -webkit-transform: translateX(-1px);
        transform: translateX(-1px);
    }
    80%
    {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
