$font-stack: "Raleway", sans-serif;
$primary-color: #0d2c40;

body {
  text-align: center;
  margin: 0;
}

// main {
//   width: 850px;
//   margin: 35px auto;
// }

// h1 {
//   font-family: $font-stack;
//   // color: $primary-color;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   font-weight: 400;
//   font-size: 45px;
//   margin: 0;
// }

// a {
//   font-family: $font-stack;
//   text-decoration: none;
//   color: #fff;
//   // color: gray;
//   letter-spacing: 1px;
//   font-weight: 600;
//   font-size: 18px;
//   margin: 0 20px;
// }

// h2 {
//   font-family: $font-stack;
//   color: $primary-color;
//   letter-spacing: 1px;
//   font-weight: 600;
//   font-size: 20px;
// }
//
// p {
//   color: $primary-color;
//   font-family: "Droid Serif", serif;
//   font-size: 18px;
//   line-height: 26px;
// }

// nav {
//   color: #ffffff;
//   background-color: #00a6b3;
//   padding: 20px 0px;
// }

// img {
//   margin: 40px 8px 0px 8px;
// }
