a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-color: white;
}

.nav {
  color: #ffffff;
  background-color: #00a6b3;
  padding: 20px 0px;
}
