h2 {
  font-family: "Raleway", sans-serif;
  color: #0d2c40;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  color: #0d2c40;
  font-family: "Droid Serif", serif;
  font-size: 18px;
  line-height: 26px;
}

#number {
  width: 6em;
}
